header{
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color:  #7D7D7D;;
}
img+p{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #B4AD9E;
}
h2{
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    color: #626262;
}
h2+p{
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #626262;
}
button{
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #626262;
}
